{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="project">
     
    <a href="{{ entry.url | relative_url }}" rel="bookmark" style="text-decoration: none;">
      {% if entry.image %}
      {% assign entry_image = entry.image %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <img class="project-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
    <p style="font-size: 14px; margin: 0em;">
    <strong>Type:</strong> {{ entry.project-type}}
    </p>
    <h3 class="project-title p-name" style="margin: 0em;">
        {{ title }}
    </h3>
    {% if entry.group == "events" and entry.date %}
      <p class="event-date">
        {% if entry.start_date %}
          {{ entry.start_date | date: "%b %-d" }} - {{ entry.date | date: "%b %-d, %Y" }}
        {% else %}
          {{ entry.date | date: "%b %-d, %Y" }}
        {% endif %}
      </p>
    {% endif %}

    {% if entry.location %}
      <p class="event-location" style="font-size: 0.85em;">{{ entry.location }}</p>
    {% endif %}
    </a>
</article>
