{% assign entries = site[include.collection] %}
{% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}

{% if entries %}
  {% if include.sort_by == 'title' %}
    {% assign entries = entries | sort: 'title' %}
  {% elsif include.sort_by == 'date' %}
    {% assign entries = entries | sort: 'date' %}
  {% elsif include.sort_by == 'order' %}
    {% assign entries = entries | sort: 'order' %}
  {% endif %}

  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | reverse %}
  {% endif %}

  {%- for entry in entries -%}
    {% capture date %}{{entry.date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if include.archive %}
      {% if date < now %}
        {% include events-entry.html %}
      {% endif %}
    {% else %}
      {% if date >= now %}
        {% include events-entry.html %}
      {% endif %}
    {% endif %}    
  {%- endfor -%}
{% else %}
  <p>No entries found in collection: {{ include.collection }}</p>
{% endif %}



